<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<div class="container">
  <h4 class="py-5"><i class="fas fa-home"></i> マイページ/ <%= @user.name %> さんのページ</h4>
  <div class="row">
    <%= render 'public/users/info', user: @user %>
   
</div>

